.App {
  text-align: center;
  background-color: lightskyblue;
}

input[type=checkbox]{
  vertical-align: auto;
  position: sticky;
}

.add-form{
  text-align: center;
}

.a{
  text-align: center;
}

td{
  text-align: left;
}

.btn{
  align-items: center;
}



